@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    line-height: 1.5;
    font-family: "Open Sans", serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #679f69;
}

.idea-body > a.build-color {
    color: #4983d0;
}

a:hover {
    text-decoration: underline;
}

h2 {
    scroll-margin-top: 10rem;
}

html {
    scrollbar-gutter: stable;
}

img {
    max-width: 100%;
}

li {
    font-size: 1.1rem;
}

p {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    margin-left: 0;
}

ul {
    margin-bottom: 1rem;
}

ul li {
    margin-inline-start: 19px;
    margin-bottom: 1rem;
}

ul ul li {
    margin-bottom: 0;
    margin-inline-start: 50px;
}

button {
    font-family: inherit;
    background-color: none;
    border: none;
}

#medentry-ul {
    display: none;
}

.back-arrow {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}


.black-link {
    color: #000;
}

.body-container {
    width: 90%;
    margin: 0 auto;
    max-width: 540px;
    margin-top: 3rem;
}

.build-card {
    font-size: 1.2rem;
    text-align: left;
    flex: 1;
    border: 2px solid #474747;
    color: #474747;
    border-radius: 5px;
    padding : 2.4rem 2rem;
    background: linear-gradient(to left, #fff 50%, #474747 50%) right;
    background-size: 200%;
    transition: all 0.5s cubic-bezier(0.42, 0, 0.23, 1);
}

.build-card:hover {
    color: #fff;
    border-color: #474747;
    background-position: left;
    text-decoration: none;
}

.build-card:active {
    background-color: #474747;
    color: #fff;
    border-color: #474747;
}

.build-home-card {
    font-size: 1.2rem;
    text-align: left;
    flex: 1;
    border: 2px solid #679f69;
    color: #679f69;
    border-radius: 5px;
    padding : 2.4rem 2rem;
    background: linear-gradient(to left, #fff 50%, #474747 50%) right;
    background-size: 200%;
    transition: all 0.5s cubic-bezier(0.42, 0, 0.23, 1);
}

.build-color {
    color: #474747;
}

.build-subtitle {
    font-weight: 400;
    font-size: 1.75rem;
    color: #474747;
    margin-bottom: 2rem;
}

.card {
    font-size: 1.2rem;
    text-align: left;
    flex: 1;
    border: 2px solid #679f69;
    color: #679f69;
    border-radius: 5px;
    padding : 2.4rem 2rem;
    background: linear-gradient(to left, #fff 50%, #679f69 50%) right;
    background-size: 200%;
    transition: all 0.5s cubic-bezier(0.42, 0, 0.23, 1);
}

.card:hover {
    color: #fff;
    border-color: #679f69;
    background-position: left;
    text-decoration: none;
}

.card:active {
    background-color: #679f69;
    color: #fff;
    border-color: #679f69;
}

.card-grey {
    font-size: 1.2rem;
    text-align: left;
    flex: 1;
    border: 2px solid #a9a9a9;
    color: #a9a9a9;
    border-radius: 5px;
    padding : 2.4rem 2rem;
    background: linear-gradient(to left, #fff 50%, #a9a9a9 50%) right;
    background-size: 200%;
    transition: all 0.5s cubic-bezier(0.42, 0, 0.23, 1);
}

.card-grey:hover {
    color: #fff;
    border-color: #a9a9a9;
    background-position: left;
    text-decoration: none;
}

.card-grey:active {
    background-color: #a9a9a9;
    color: #fff;
    border-color: #a9a9a9;
}

.contact-btn {
    grid-row: 1/2;
    grid-column: 2/6;
}

.dot-point {
    line-height: 1.15;
    margin-bottom: 0;
}

.double-column {
    display: flex;
    gap: 0.25rem;
}

.flex-container {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.footer-flex {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    width: 100%;
    gap: 1rem;
}

.footer-grid {
    display: grid;
    flex-shrink: 0; /* prevent shrinking */
    padding-inline: 1rem;
    background-color: white;
    grid-gap: 0.25rem;
    grid-template-rows: 50% 50%;
    grid-template-columns: 15.5% 15.5% 15.5% 15.5% 15.5% 15.5%;
    /* justify-content: space-between; */
    width: 100%;
    height: 100px;
    margin-top: 3rem;
    position: sticky;
    bottom: 0;
}

.forward-arrow {
    grid-row: 1 / 2;
    grid-column: 6 / 7;
}

.fundamentals-image {
    border: 1px solid #679f69;
    margin-block: 2rem;
}

.grid {
    display: grid;
}

.idea-body, 
.body-copy {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    margin-left: 0;
}

.index-container {
        width: 90%;
        margin: 0 auto;
        max-width: 540px;
        margin-top: 0.8rem;
}

.index-title {
    color: #679f69;
    font-size: 3rem;
    letter-spacing: -0.05em;
    margin-bottom: 0.8rem;
    /* padding-left: 2rem; */
}

.last-update {
    font-style: italic;
}

.main-li {
    margin-bottom: 0.5rem;
}

.medium-header {
    font-size: 2.5rem;
    text-wrap: wrap;
}

.nav-horiz {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notified-btn {
    grid-row: 2/3;
    grid-column: 1/4;
}

.project-btn {
    grid-row: 2/3;
    grid-column: 4/7;
}

.sell-card {
    font-size: 1.2rem;
    text-align: left;
    flex: 1;
    border: 2px solid #A1762B;
    color: #A1762B;
    border-radius: 5px;
    padding : 2.4rem 2rem;
    background: linear-gradient(to left, #fff 50%, #A1762B 50%) right;
    background-size: 200%;
    transition: all 0.5s cubic-bezier(0.42, 0, 0.23, 1);
}

.sell-card:hover {
    color: #fff;
    border-color: #A1762B;
    background-position: left;
    text-decoration: none;
}

.sell-card:active {
    background-color: #A1762B;
    color: #fff;
    border-color: #A1762B;
}

.sell-home-card {
    font-size: 1.2rem;
    text-align: left;
    flex: 1;
    border: 2px solid #679f69;
    color: #679f69;
    border-radius: 5px;
    padding : 2.4rem 2rem;
    background: linear-gradient(to left, #fff 50%, #A1762B 50%) right;
    background-size: 200%;
    transition: all 0.5s cubic-bezier(0.42, 0, 0.23, 1);
}

.sell-color {
    color: #A1762B;
}

.sell-subtitle {
    font-weight: 400;
    font-size: 1.75rem;
    color: #A1762B;
    margin-bottom: 2rem;
}

.show-toggle {
    font-size: 1.1rem;
    color: #679f69;
    cursor: pointer;
    margin-top: 0.5rem;
}

.show-toggle:hover {
    text-decoration: underline;
}

.sticky {
    position: sticky;
    background-color: #fff;
    padding-bottom: 0rem;
    top: 0;
}

.subscribe {
    font-size: 1.2rem;
    text-align: center;
    border: 2px solid #679f69;
    color: #679f69;
    border-radius: 5px;
    padding : 0.5rem 1rem;
    background-color: white;
}

.subscribe:hover {
  transition: 0.2s ease;
  background-color: #679f69;
  /* transform: translateY(-1.5px); */
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.subscribe:active {
  transition: 0.2s ease;
  background-color: #679f69;
  /* transform: translateY(-1.5px); */
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.title {
    color: #679f69;
    font-size: 3rem;
    letter-spacing: -0.05em;
    margin-bottom: 0.8rem;
    /* padding-left: 2rem; */
}

.idea-back {
    color: #c3c3c3 !important;
    font-size: 1rem;
    margin-bottom: 0;
}

.idea-container {
    margin-bottom: 5rem;
}

.idea-subtitle {
    font-weight: 400;
    font-size: 1.75rem;
    color: #679f69;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.reading-subhead {
    margin: 2rem 0 0.5rem;
}

.bigml {
    font-size: 3rem;
}

.smallml {
    font-size: 2.5rem;
}

@media (max-width: 640px) {
    .body-container, .idea-container {
        margin-top: 0.8rem;
    }
}

@media (max-width: 500px) {
    .smallml {
        display: inline;
    }
    .bigml {
        display: none;
    }
}

@media (min-width: 501px) {
    .smallml {
        display: none;
    }
    .bigml {
        display: inline;
    }
}

/* Modal CSS Experiment */

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0; top: 0;
  width: 100%; height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  background: #fff;
  padding: 0;
  width: 80%;
  max-width: 1000px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.close-btn {
  position: absolute;
  top: 10px; right: 15px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  background: none;
  border: none;
  cursor: pointer;
}

#modalVideo {
  width: 100%; height: auto;
  border-radius: 10px 10px 0 0;
}
