@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    line-height: 1.5;
    font-family: "Open Sans", serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #679f69;
}

a:hover {
    text-decoration: underline;
}

html {
    scrollbar-gutter: stable;
}

p {
    margin-bottom: 1rem;
    margin-left: 0;
}

.body {
    margin-top: 3rem;
    margin-left: 25dvw;
    margin-right: 40dvw;
}

.index-title {
    color: #679f69;
    font-weight: 650;
    font-size: 1.75rem;
    letter-spacing: -0.05em;
    text-align: left;
}

.subtitle {
    font-weight: 700;
    margin-bottom: 1rem;
}

@media (769px <= width <= 1300px) {
    .body {
        margin-right: 25dvw;
    }
}

@media (max-width: 768px) {
    .body {
        margin-left: 10dvw;
        margin-right: 10dvw;
    }
}

@media (max-width: 480px) {
    .oneline {
        font-size: 0.86rem;
    }
}