@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    line-height: 1.5;
    font-family: "Open Sans", serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #679f69;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
}

button {
    font-family: inherit;
    background-color: none;
    border: none;
}

h2 {
    scroll-margin-top: 10rem;
}

.body-container {
    width: 90%;
    margin: 0 auto;
    max-width: 540px;
    margin-top: 3rem;
}

.bold {
    font-weight: 650;
}

.card {
    font-size: 1.2rem;
    text-align: center;
    flex: 1;
    border: 2px solid #679f69;
    color: #679f69;
    border-radius: 5px;
    padding-block: 2.4rem;
    background: linear-gradient(to left, #fff 50%, #679f69 50%) right;
    background-size: 200%;
    transition: all 0.5s cubic-bezier(0.42, 0, 0.23, 1);
}

.card:hover {
    color: #fff;
    border-color: #679f69;
    background-position: left;
    text-decoration: none;
}

.card:active {
    background-color: #679f69;
    color: #fff;
    border-color: #679f69;
}

.dot-point {
    line-height: 1;
    margin-bottom: 0;
}

.flex-container {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.idea-body, 
.body-copy {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.last-update {
    font-style: italic;
}

.sticky {
    position: sticky;
    background-color: #fff;
    padding-bottom: 1rem;
    top: 0;
}

.title {
    color: #679f69;
    font-size: 3rem;
    letter-spacing: -0.05em;
    margin-bottom: 3rem;
}

.idea-back {
    color: #c3c3c3 !important;
    font-size: 1rem;
    margin-bottom: 0;
}

.idea-container {
    margin-bottom: 3rem;
}

.idea-subtitle {
    font-weight: 400;
    font-size: 1.75rem;
    color: #679f69;
    margin-bottom: 2rem;
}

.reading-subhead {
    margin: 2rem 0 0.5rem;
}
