@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    line-height: 1.5;
    font-family: "Open Sans", serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #679f69;
}

a:hover {
    text-decoration: underline;
}

h2 {
    scroll-margin-top: 10rem;
}

html {
    scrollbar-gutter: stable;
}

img {
    max-width: 100%;
}

li {
    font-size: 1.1rem;
}

p {
    margin-bottom: 1rem;
    margin-left: 0;
}

ul {
    margin-bottom: 1rem;
}

ul li {
    margin-inline-start: 19px;
    margin-bottom: 0.5rem;
}

ul ul li {
    margin-bottom: 0;
    margin-inline-start: 50px;
}

button {
    font-family: inherit;
    background-color: none;
    border: none;
}

#mat-toggle {
    margin: 0;
    padding: 0;
    height: 100%;
    line-height: 1;
    width: 3rem;
    height: auto;
}

#mor-toggle {
    margin: 0;
    padding: 0;
    height: 100%;
    line-height: 1;
    width: 3rem;
    height: auto;
}

#medentry-ul {
    display: none;
}

#dl-ul {
    display: none;
}

.back-arrow {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}


.black-link {
    color: #000;
}

.body {
    padding-bottom: 3rem;
}

.body-container {
    width: 90%;
    margin: 0 auto;
    max-width: 540px;
    margin-top: 3rem;
}

.bookend {
    margin-block: 4rem;
    height: 0.5px;
    background-color: #679f69;
    border: #679f69;
    clear: both;
}

.card {
    font-size: 1.2rem;
    text-align: left;
    flex: 1;
    border: 2px solid #679f69;
    color: #679f69;
    border-radius: 5px;
    padding : 2.4rem 2rem;
    background: linear-gradient(to left, #fff 50%, #679f69 50%) right;
    background-size: 200%;
    transition: all 0.5s cubic-bezier(0.42, 0, 0.23, 1);
}

.card:hover {
    color: #fff;
    border-color: #679f69;
    background-position: left;
    text-decoration: none;
}

.card:active {
    background-color: #679f69;
    color: #fff;
    border-color: #679f69;
}

.card-toggle {
    border: 2px solid #679f69;
    color: #679f69;
    border-radius: 5px;
    padding: 0.5rem;
    max-height: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-btn {
    grid-row: 1/2;
    grid-column: 2/6;
}

.dot-point {
    line-height: 1.15;
    margin-bottom: 0;
}

.double-column {
    display: flex;
    gap: 0.25rem;
}

.fixed {
    position: fixed;
    bottom: 0;
    max-width: 540px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.footer-flex {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    width: 100%;
    gap: 1rem;
}

.footer-grid {
    display: grid;
    flex-shrink: 0; /* prevent shrinking */
    background-color: white;
    grid-gap: 0.25rem;
    grid-template-rows: 50% 50%;
    grid-template-columns: 15.5% 15.5% 15.5% 15.5% 15.5% 15.5%;
    /* justify-content: space-between; */
    width: 100%;
    height: 90px;
    margin-top: 3rem;
    position: sticky;
    bottom: 0;
}

.forward-arrow {
    grid-row: 1 / 2;
    grid-column: 6 / 7;
}

.found-me {
    cursor: text;
    color: #000;
}

.found-me:hover {
    text-decoration: none;
}

.grid {
    display: grid;
}

.idea-body, 
.body-copy {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    margin-left: 0;
}

.index-container {
        width: 90%;
        margin: 0 auto;
        max-width: 540px;
        margin-top: 0.8rem;
}

.index-title {
    color: #679f69;
    font-size: 3rem;
    letter-spacing: -0.05em;
    margin-bottom: 0.8rem;
    /* padding-left: 2rem; */
}

.main-li {
    margin-bottom: 0.2rem;
}

.medium-header {
    font-size: 2.5rem;
    text-wrap: wrap;
}

.nav-horiz {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notified-btn {
    grid-row: 2/3;
    grid-column: 1/4;
}

.no-nav, .no-nav div {
    margin-bottom: 0;
    padding-bottom: 0;
}

.principles-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 2rem;
    max-height: 1.75rem;
    z-index: 999;
}

.principles-header > div {
    max-height: 1.75rem;
}

.principles-title {
    font-weight: 400;
    font-size: 1.75rem;
    color: #679f69;
}

.principles-toggle {
    height: 1rem;
    cursor: pointer;
    position: relative;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-focus-ring-color: transparent;
    outline: none;
}

.project-btn {
    grid-row: 2/3;
    grid-column: 4/7;
}

.show-toggle {
    font-size: 1.1rem;
    color: #679f69;
    cursor: pointer;
}

.show-toggle:hover {
    text-decoration: underline;
}

.solo-img {
    width: 100%;
    height: auto;
}

.sticky {
    position: sticky;
    background-color: #fff;
    padding-bottom: 0rem;
    top: 0;
}

.subscribe {
    text-align: center;
    border: 2px solid #679f69;
    color: #679f69;
    border-radius: 5px;
    padding : 0.5rem 1rem;
    background-color: white;
}

.subscribe:hover {
  transition: 0.2s ease;
  background-color: #679f69;
  /* transform: translateY(-1.5px); */
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.subscribe:active {
  transition: 0.2s ease;
  background-color: #679f69;
  /* transform: translateY(-1.5px); */
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.title {
    color: #679f69;
    font-size: 3rem;
    letter-spacing: -0.05em;
    margin-bottom: 0.8rem;
    /* padding-left: 2rem; */
}

.idea-back {
    color: #c3c3c3 !important;
    font-size: 1rem;
    margin-bottom: 0;
}

.idea-container {
    margin-bottom: 5rem;
}

.idea-subtitle {
    font-weight: 400;
    font-size: 1.75rem;
    color: #679f69;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.reading-subhead {
    margin: 2rem 0 0.5rem;
}

.bigml {
    font-size: 3rem;
}

.smallml {
    font-size: 2.5rem;
}

.z {
    z-index: 999;
}

.zero-bottom {
    margin-bottom: 0;
}

@media (max-width: 640px) {
    .body-container, .idea-container {
        margin-top: 0.8rem;
    }
}

@media (max-width: 500px) {
    .smallml {
        display: inline;
    }
    .bigml {
        display: none;
    }
}

@media (min-width: 501px) {
    .smallml {
        display: none;
    }
    .bigml {
        display: inline;
    }
}